In [50]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt

In [51]:
df = pd.read_csv(r"D:\Application\Porfolio\Poject With Python\Netflix Dataset\netflix_titles.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [52]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [53]:
df.shape

(8807, 12)

In [54]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [55]:
print(df.columns.tolist())

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [56]:
summary = pd.DataFrame({
    "dtype": df.dtypes.astype(str),
    "unique": df.nunique(dropna=True),
    "missing": df.isna().sum()
})
summary["%missing"] = (summary["missing"] / len(df) * 100).round(2)
summary = summary.sort_values(by="missing", ascending=False)

print("\n=== COLUMN SUMMARY (top missing first) ===")
print(summary)

=== COLUMN SUMMARY (top missing first) ===
               dtype  unique  missing  %missing
director      object    4528     2634     29.91
country       object     748      831      9.44
cast          object    7692      825      9.37
date_added    object    1767       10      0.11
rating        object      17        4      0.05
duration      object     220        3      0.03
show_id       object    8807        0      0.00
type          object       2        0      0.00
title         object    8807        0      0.00
release_year   int64      74        0      0.00
listed_in     object     514        0      0.00
description   object    8775        0      0.00

In [57]:
summary.to_csv("step01_column_summary.csv", index=True)

In [58]:
print("\n=== TYPE COUNTS (Movie vs TV Show) ===")
print(df["type"].value_counts(dropna=False))

print("\n=== TOP 15 RATINGS ===")
print(df["rating"].value_counts().head(15))

# (tuỳ chọn) Lưu các bảng nhanh ra CSV
df["type"].value_counts(dropna=False).to_csv("step01_type_counts.csv")
df["rating"].value_counts().head(15).to_csv("step01_top_ratings.csv")

=== TYPE COUNTS (Movie vs TV Show) ===
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

=== TOP 15 RATINGS ===
rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
Name: count, dtype: int64

In [59]:
df["director"] = df["director"].fillna("Unknown")
df["cast"] = df["cast"].fillna("Unknown")
df["country"] = df["country"].fillna("Unknown")

In [66]:
df.isnull().sum()
# df.dtypes

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [69]:
df= df.dropna(subset=['date_added', "rating", "duration"])
df.isnull().sum()
df.shape
df.to_csv("netflix_cleaned.csv")